---

- name: Install Java + Deps
  package:
    state=latest
    name={{ item }}
  with_items: "{{ heroic_java_packages }}"

- name: Ensure Group Exists
  group:
    name={{ heroic_group }}
    state=present

- name: Ensure User Exists
  user:
    user={{ heroic_user }}
    group={{ heroic_group }}
    home={{ heroic_home }}
    state=present

- name: Get Heroic
  git:
    repo={{ heroic_git_repo }}
    dest={{ heroic_app_home }}
    version={{ heroic_git_branch }}
  args:
    creates={{ heroic_app_home }}

- name: Tighten Up Ownership
  file:
    path={{ heroic_home }}
    owner={{ heroic_user }}
    group={{ heroic_group }}
    recurse=yes

- name: Build Heroic's Repackaged JARs
  command: ./tools/install-repackaged
    chdir={{ heroic_app_home }}
    creates={{ heroic_app_home }}/repackaged/bigtable/target/bigtable-client-core-*.jar
  become: yes
  become_user: "{{ heroic_user }}"

- name: Build Heroic
  command: mvn clean package -D maven.test.skip=true
    chdir={{ heroic_app_home }}
    creates={{ heroic_app_home }}/heroic-dist/target/heroic-dist-0.0.1-SNAPSHOT-shaded.jar
  become: yes
  become_user: "{{ heroic_user }}"
