
port: 8080

# Cluster configuration.
cluster:
  protocols:
    - type: grpc
      host: {{ heroic_grpc_host }}
      port: {{ heroic_grpc_port }}
#  capabilities:
#    - QUERY
#    - WRITE
  discovery:
    type: static
    nodes:
      - grpc://{{ heroic_grpc_host }}:{{ heroic_grpc_port }}

# Metrics configuration.
metrics:
  backends:
    - type: datastax
      seeds:
{% for seed in heroic_cassandra_host_list %}
        - {{ seed }}
{% endfor %}

# Metadata configuration.
metadata:
  backends:
    - type: elasticsearch
      connection:
        seeds:
{% for seed in heroic_elasticsearch_host_list %}
          - {{ seed }}
{% endfor %}
      backendType: kv

# Suggest configuration.
suggest:
  backends:
    - type: elasticsearch
      connection:
        seeds:
{% for seed in heroic_elasticsearch_host_list %}
          - {{ seed }}
{% endfor %}
      backendType: kv

# Shell server.
shellServer:
  host: 127.0.0.1
  port: 9190
