[Unit]
Description=Heroic TSDB

[Service]
Type=oneshot
ExecStart={{ heroic_app_home }}/heroic start
ExecStop={{ heroic_app_home }}/heroic stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
