[Unit]
Description=Heroic TSDB

[Service]
Type=simple
User={{ heroic_user }}
Group={{ heroic_group }}
Restart=on-failure
ExecStart={{ heroic_app_home }}/heroic
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
