
port: 8080

# Cluster configuration.
cluster:
  protocols:
    - type: grpc
#  capabilities:
#    - QUERY
#    - WRITE
  discovery:
    type: static
    nodes:
      - grpc://127.0.0.1

# Metrics configuration.
metrics:
  backends:
    - type: datastax
      seeds:
        {% for seed in heroic_cassandra_host_list %}
        - {{ seed }}
        {% endfor %}

# Metadata configuration.
metadata:
  backends:
    - type: elasticsearch
      connection:
        seeds:
          {{ heroic_elasticsearch_host_list | to_nice_yaml | indent(8, false) }}
      backendType: kv

# Suggest configuration.
suggest:
  backends:
    - type: elasticsearch
      connection:
        seeds:
          {{ heroic_elasticsearch_host_list | to_nice_yaml | indent(8, false) }}
      backendType: kv

# Shell server.
shellServer:
  host: 127.0.0.1
  port: 9190
