# vim: filetype=yaml
port: 8080

# Cluster configuration.
cluster:
  useLocal: true
  discovery:
    type: static
    nodes:
      - native://127.0.0.1:8100

# Metrics configuration.
metrics:
  backends:
    - type: datastax
      seeds: {{ heroic_cassandra_host_list }}
